/*-------------------------------------
 * 引入字体图标
-------------------------------------*/

@import "./../fontcustom/fontcustom.css";
@import "color.less";
@import "element.less";

/*-------------------------------------
 * 重置样式
-------------------------------------*/
ul{ padding: 0; margin: 0;}
li{ list-style-type: none;}
input::-webkit-input-placeholder{ color: @text-color-disable;}
textarea::-webkit-input-placeholder{ color: @text-color-disable;}


@media screen and (max-width: 320px) {
    html{ font-size: 16px; }
}

.modal-button{
	&.cancel{ color: @text-color-main; }
}
/*-------------------------------------
 * 通用样式
-------------------------------------*/
.mt10{ margin-top: 1rem; }
.wihte{ background-color: #fff; }
body{  background-color: #ffffff; color: @text-color-normal; font-size: .75rem;}
.page, .page-group{ background-color: #fafafa;}
.content{ background-color: #ffffff;
	&.gray{ background-color: #fafafa; }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// 顶部导航条
header.bar-nav{ background-color: @primary-color;
	h1.title{ font-size: 0.9rem; color: #ffffff;}
	& ~ .bar-header-secondary-home{ top: 2.2rem;
		& ~ .content{ top: 6.45rem;}
		& ~ .topTips{ top: 6.45rem;
			& ~ .content{ top: 7.85rem; }
		}
	}
	& ~ .topTips{ top: 2.2rem;
		& ~ .content{ top: 3.6rem;}
	}
	&.bar .button-link{ color: #fff;
		.icon{ margin-top: -0.2rem; }
	}
	&.bar .button-nav.pull-left{
		padding: 0 .5rem;
	}
	&.bar .button-nav.pull-right{
		margin-right: 0;
	}

	& ~ .sub-tab{ height: 2.2rem; border-bottom: 1px solid @border-color; background-color: #fff; position: fixed; left:0; right: 0; top: 2.2rem;
		ul{ width: 100%; display: flex; }
		li{ padding: 0 .5rem; line-height: 2.2rem; text-align: center; font-size: .65rem; position: relative;
			&.active{ color:@primary-color;  position: relative;
				&:before{ width: 3rem; height: 3px; margin-left: -1.5rem; background-color: @primary-color; display: block; content:''; position: absolute; bottom: 0; left: 50%;}
			}
			.sep{ width: .5rem; height: .5rem; border-radius: 50%; background-color: red; position: absolute; top: .2rem; right: 0;}
		 }
		& ~ .content{ top: 4.5rem; }
	}
}

// 图片组件返回
.photo-browser-light{
	header.bar-nav{
		.photo-browser-close-link{ color:#fff; }
	}
}
// 底部导航条
nav.bar-tab{ background-color: #fff;
	.tab-item{
		&.router-link-active{ color: @primary-color;}
	}
	& ~ .content{ bottom: 2.5rem;}
	& ~ .footer-submit { bottom: 2.5rem;
		& ~ .content{ bottom: 4.9rem;}
	}
}

.footer-submit{ display: flex; height:2.4rem;  background-color: #fff; position: fixed; bottom:0; left:0; right:0;
	.tips{ flex: 1; padding-right: .5rem; padding-top: .25rem; border-top: 1px solid @border-color; line-height: 1.2;text-align: right;
		.main,.one{ font-size: .55rem;
			.money{ font-size: .85rem; color:#FA541C;}
		}
		.sub{ font-size: .5rem;}
		.one{ line-height: 1.8rem;}
	}
	.submit{ width: 5.5rem; text-align: center;
		a{ display: block; height: 2.4rem; line-height: 2.4rem; background-color: @primary-color; color: #fff;}
	}
}
.footer-submit ~ .content{ bottom: 2.4rem;}

// 说明模块
.description{ padding: .75rem; font-size: .75rem; color: @text-color-disable;}
.newUser{ height: 1.4rem; padding: 0 .3rem; border-radius: .2rem; border: 1px solid @text-color-orange; line-height: 1.4rem; white-space: nowrap; text-overflow:ellipsis; color: @text-color-orange; font-size: .6rem; background: url(../images/check.png) no-repeat right bottom; background-size:.7rem .7rem;}

// 顶部警告提示
.topTips{ height: 1.4rem; padding: 0 .5rem 0 2rem; line-height: 1.4rem; position: absolute; right: 0; left: 0; top:0; 
	.notices-hd{ position: absolute; left: .5rem; top: 0; }
	.notices-wrap{ }
	.notices-list{ /*transition: all 1s;*/ position: relative;}
	i{ margin-right: .25rem;}
	&.warning{ background-color: @warning-bg-color;
		i{ color: @warning-color; }
	}
	& ~ .content{ top: 1.4rem;}
}

// 盒子模型
.main-box{
	&.white{ background-color: #fff; }
	.box-hd{ height: 2.2rem; padding: 0 .75rem; line-height: 2.2rem; background-color: #fafafa;
		span.text{ font-size: .75rem; color: @text-color-disable;}
	}
	.box-bd{
		.list-block{ margin: 0;}
	}
	.submit-wrap{
		padding:1rem .5rem;
	}
}

// 表单
.list-block{ margin: .75rem 0;
	.item-title.label{ color: @text-color-main; font-size: .85rem;
		.sub{ font-size: .7rem; }
		.red{ margin-left: .35rem; color: #F5222D; }
	}
	li.multi{
		.item-inner{ align-items: flex-start;}
	}
	.item-inner{
		&.noflex{ display: block;
			.item-input{ margin-top: 0; position: relative;
				&:after{content: ''; position: absolute; left: 0; bottom: 0; right: auto; top: auto; height: 1px; width: 100%; background-color: #e7e7e7;display: block; z-index: 15; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;}
				&:last-child:after{ display: none; }
			}
			.el-radio-group{ padding: .35rem 0;
				.el-radio{ display: block; height: 1.5rem; line-height: 1.5rem; }
				.el-radio + .el-radio{ margin-left: 0; }
			}
		}
	}
	.el-radio-group{
		.el-radio{ margin-left: .75rem; color: #666666;
			&:first-child{ margin-left: 0;}
		}
	}
	.item-content.item-link{
		a { display: -webkit-box; display: -webkit-flex; display: flex; width: 100%;
			.item-title{ color: #000000; }
		}
	}
	.item-media{ padding: 0; font-size: 1rem;
		.icon{ color: #000000; }
	}
	// 窄左侧
	.thinForm{
		.item-title.label{ width: 4.5rem; }
	}
	.item-money{
		.item-inner{ padding-top: 2.4rem; position: relative;
			.item-title{ height: 2.4rem; margin: 0; line-height: 2.4rem; position: absolute; top: 0; }
			.unit{ height: 2.15rem; margin-right: 1rem; line-height: 2.15rem; font-size: 1.6rem; color: #000;}
			.item-input input{ font-size: 1.6rem; }
		}
	}
}

// 省份多选
.province-wrap{
	.el-checkbox-group{ display: flex; width:100%; padding: 0 .75rem .5rem; overflow: hidden; flex-wrap: wrap;
		.el-checkbox{ min-width: 33%; margin: .4rem 0; padding-right: 1rem;}
		.half .el-checkbox{ width: 50%;}
		.all .el-checkbox{ width: 100%;}
	}
}

// 上传文件
.upload{ position: relative;
	.percent{ text-align: center; font-size: 2rem; font-weight: bold; color: #000; position: absolute; top: 20%; left: 0; right: 0;
		i{ font-size: .75rem; }
	 }
	img{display: block; width: 100%; }
	input{ display: none; }
}

// 没有模板
.no-tmpl{ padding: 1rem 0;
	.icon{ display: block; width: 2.5rem; height: 2.5rem; margin: 0 auto; line-height: 2.5rem; text-align: center; font-size: 2rem; color: #888;}
	.text{ display: block; text-align: center; font-size: .75rem; color: #888;}
}

/*-------------------------------------
 * 账号模块
-------------------------------------*/
.accountWrap{ height: 100%; padding-top: 1rem; position: relative;
	.userPhoto{ width: 4.5rem; height: 4.5rem; margin: 0 auto; background-color: @primary-color; border-radius: .75rem; overflow: hidden;
		img{ width: 100%;}
	}
	.list-block { margin: 0; overflow: hidden;
		ul:before{ display: none; }
		ul:after{ left:0.5rem; }
		.item-title.label{ width: 4rem; color: #000000; }
	}
	.seeBtn{ width: 2.15rem; height: 2.15rem; line-height: 2.15rem; text-align: center; color: #bbb; position: absolute; right: .25rem; top: 0;
		&.active{ color: @primary-color; }
	}
	.codeBtn{ display: inline-block; height: 1.35rem; padding: 0 .5rem; border-radius: .25rem; background-color: @primary-color; line-height: 1.35rem; color: #fff; font-size: .75rem; position: absolute; right: .5rem; top: 0.45rem;
		&.done{ background-color: transparent; color: #999; }
	 }
	.userPhoto ~ .list-block{ margin-top: 2rem; }
}

.submitWrap{ margin-top: 1.5rem; padding: 0 .5rem;
	.button{ margin-bottom: .5rem;
		&:last-child{ margin-bottom: 0; }
	}
}
.linkWrap{ margin-top: .5rem; text-align: center;
	a{ color: #bbb;
		span{ color: @primary-color; }
	}
	&.bottom{  position: absolute; bottom: 1rem; left: 0; right: 0;}
}

@import "home.less";

/*-------------------------------------
 * 我的订单
-------------------------------------*/
.order-list{
	.item{ padding: .5rem .75rem; position: relative;
		&:after{ display: inline-block; content: ''; width:100%; height: 1px; background-color: #e7e7e7; transform: scaleY(0.5); position: absolute; bottom: 0; left: 0;}
	}
	.img-wrap{ float: left; width: 4rem; height: 4rem; margin-right: .5rem; background-color:#ecf0f1; overflow: hidden;
		img{ display: block; width: 100%; }
	}
	.inner{ height: 4rem; position: relative;
		.name{ height: 2.1rem; padding-right: 2rem; font-size: .7rem; color: @text-color-main; overflow: hidden;}
		.state{ margin-top: .15rem; font-size: .65rem; color: #8b8b8b; position: relative;
			.right{ position: absolute; right: 0; top: 0;}
		}
		.money{ line-height: 1.05rem; color: @text-color-orange; position: absolute; right: 0; top: 0;}
	}
	.detail{ margin-top: .5rem; text-align: right; font-size: .65rem; color: #000;
		.attr{ margin-right: 8px;
			&:last-child{ margin-right: 0;}
		}
	}
	.ctrl{ margin-top: .25rem; text-align: right;
		a.button{ display: inline-block; height: 1.2rem; margin-left: .35rem; padding: 0 .3rem; line-height: 1.2rem; border-color: #8B8B8D; color: #8B8B8D; font-size: .6rem;}
	}
}
@import "auth.less";
@import "uc.less";

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.flow-list-block .item-content:after,
	.list-block .item-inner.noflex .item-input:after{
	    -webkit-transform: scaleY(0.5);
	    transform: scaleY(0.5);
	}
}
